@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: hsl(75, 94%, 57%);
  --grey700: hsl(0, 0%, 20%);
  --grey800: hsl(0, 0%, 12%);
  --grey900: hsl(0, 0%, 8%);
  --default-weight: 400;
  --middle-weight: 600;
  --boldest-weight: 700;
  --p-font-size: 0.875rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--grey900);
}

main {
  width: 100%;
  max-width: 24rem;
}

article {
  padding: 1.5rem;
  border-radius: 0.625rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  font-family: Inter, sans-serif;
  font-size: var(--p-font-size);
  font-weight: var(--default-weight);
  color: white;
  background-color: var(--grey800);
}

@media (min-width: 26rem) {
  article {
    padding: 2.5rem;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

img {
  max-width: 5.75rem;
  border-radius: 50%;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: var(--middle-weight);
}

.location {
  color: var(--primary-color);
  font-weight: var(--boldest-weight);
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  text-align: center;
  font-size: 1rem;
  font-weight: var(--boldest-weight);
  list-style: none;
}

li {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.4375rem;
  background-color: var(--grey700);
}

li:hover {
  background-color: var(--primary-color);
  color: var(--grey700);
}
